<div class="container">
  <div class="row">
    <div class="col-10 offset-1">
      <div class="card">
        <%= image_tag "car.jpg", class: "card-img" %>
        <div class="card-img-overlay">
          <h1 class="card-title">このサイトについて</h1>
          <p class="card-text h3">初心者ドライバーが作ったドライブルート投稿サイトです。</p>
          <p class="card-text h3">
            車の練習はしたいけど、<br>どこを目標にして走ったらいいのかわからない、<br>
            いつも同じ場所で練習してるけど、他に練習できる場所はないかなと思ったときに見ていただけると幸いです。
            また、初心者の時に練習になった道やドライブ練習で行ってみたいコースなどがございましたら是非投稿してください。
          </p>
          <p class="card-text h2">2023.01</p>
        </div>
      </div>
    </div>
  </div>
</div>