<table class="table">
  <% drive_report.routes.each do |route| %>
  <tr>
    <td width="10%">
      <%= image_tag route.get_destination_image(150,100) %>
    </td>
    <td width="30%">
      <%= route.destination %>
    </td>
    <td width="50%">
      <%= route.destination_memo %>
    </td>
    <td width="10%">
      <%= link_to "削除", drive_report_route_path(drive_report_id: route.drive_report, id: route.id), method: :delete, remote: true, class: "btn btn-danger" %>
    </td>
  </tr>
  <% end %>
</table>