<h2>ドライブルート投稿一覧</h2>
<div class="container">
  <div class="row">
    <div class="col-8">
      <div class="container">
        <!--投稿一覧のrender-->
          <%= render 'list', drive_routes: @drive_routes %>

          <div class="row">
            <%= paginate @drive_routes %>
          </div>
      </div>
    </div>
    <div class="col-3 offset-1">
      <h2>タグ</h2>
    </div>
  </div>
</div>